.footer {
  padding-top: calc(35 / 320 * 100 * 1vw);
  padding-bottom: calc(35 / 320 * 100 * 1vw);

  // .footer__logo

  &__logo {
    margin: 0 0 calc(15 / 320 * 100 * 1vw);
  }

  // .footer__links

  &__links {
    column-gap: calc(15 / 320 * 100 * 1vw);
  }

  // .footer__link

  &__link {
    width: calc(20 / 320 * 100 * 1vw);
    height: calc(20 / 320 * 100 * 1vw);
  }

  // .footer__link--type-facebook

  &__link--type-facebook {
  }

  // .footer__link--type-vkontakte

  &__link--type-vkontakte {
  }

  // .footer__link--type-whatsapp

  &__link--type-whatsapp {
  }

  // .footer__link--type-telegram

  &__link--type-telegram {
  }

  // .footer__support

  &__support {
    margin: calc(15 / 320 * 100 * 1vw) 0 0;
    font-size: calc(14 / 320 * 100 * 1vw);
  }

  // .footer__support-link

  &__support-link {
  }
}