.section {
}

.container {
}

body {
}

.section {
  &-heading {
  }
  &-heading--level-1 {
    font-size: 28px;
  }
  &-heading--level-2 {}
  &__heading {
    margin-bottom: 25px;
  }
}

.button {
  font-size: 12px;
}